<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Qual Clothing</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Men's</a></li>
        <li><a href="#">Women's</a></li> 
        <li><a href="#">Gift Vouchers</a></li> 
      </ul>
    </div>
  </div>
</nav>