<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Qual Clothing</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'Home', products_path %></li>
        <li><%= link_to "Men's", products_path(:mens)%></li>
        <li><%= link_to "Women's", products_path(:womens)%></li> 
        <li><%= link_to 'View Cart', carts_path, id: "view_cart" %></li>

      </ul>
    </div>
  </div>
</nav>