<div class="thumbnail">

  <%= link_to "Men", male_product_path(1), id: "mens", class: "btn"%>
  <!-- <img src="http://i.ebayimg.com/00/s/NTY2WDg0OA==/z/-vsAAOSwEK9TsqQA/$_32.JPG?set_id=880000500F"> -->
</div>

Male
Female