<div>
  <% @products.each do |product| %>
    <%= div_for product do %>
      <% if product.category.include? "Women" %>
        <%= product.name %>: <%= product.price %> <br>
      <% end %>
    <% end %>
  <% end %>
</div>